
@using BasicWebProject.Models

@model List<Course>

<h1>Kursove</h1>

<img width="200px" height="200px" src="https://images.theconversation.com/files/168121/original/file-20170505-1693-ymh4bc.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=926&fit=clip" />

@foreach (Course course in Model)
{
	<div>@course.Name</div>
}

